<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sane.pkg.dao.mappers.BaseListTypeMapper" >
  <resultMap id="BaseResultMap" type="com.sane.pkg.beans.BaseListType" >
    <id column="TypeID" property="typeID" jdbcType="INTEGER" />
    <result column="TypeValue" property="typeValue" jdbcType="VARCHAR" />
    <result column="TypeName" property="typeName" jdbcType="VARCHAR" />
    <result column="Enaled" property="enaled" jdbcType="TINYINT" />
    <result column="Creator" property="creator" jdbcType="VARCHAR" />
    <result column="CreatDate" property="creatDate" jdbcType="TIMESTAMP" />
    <result column="Modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="ModifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TypeID, TypeValue, TypeName, Enaled, Creator, CreatDate, Modifier, ModifyDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sane.pkg.beans.BaseListTypeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from baselisttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from baselisttype
    where TypeID = #{typeID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from baselisttype
    where TypeID = #{typeID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sane.pkg.beans.BaseListTypeCriteria" >
    delete from baselisttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sane.pkg.beans.BaseListType" >
    <selectKey resultType="java.lang.Integer" keyProperty="typeID" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into baselisttype (TypeValue, TypeName, Enaled, 
      Creator, CreatDate, Modifier, 
      ModifyDate)
    values (#{typeValue,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{enaled,jdbcType=TINYINT}, 
      #{creator,jdbcType=VARCHAR}, #{creatDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sane.pkg.beans.BaseListType" >
    <selectKey resultType="java.lang.Integer" keyProperty="typeID" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into baselisttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeValue != null" >
        TypeValue,
      </if>
      <if test="typeName != null" >
        TypeName,
      </if>
      <if test="enaled != null" >
        Enaled,
      </if>
      <if test="creator != null" >
        Creator,
      </if>
      <if test="creatDate != null" >
        CreatDate,
      </if>
      <if test="modifier != null" >
        Modifier,
      </if>
      <if test="modifyDate != null" >
        ModifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeValue != null" >
        #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="enaled != null" >
        #{enaled,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatDate != null" >
        #{creatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sane.pkg.beans.BaseListTypeCriteria" resultType="java.lang.Integer" >
    select count(*) from baselisttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update baselisttype
    <set >
      <if test="record.typeID != null" >
        TypeID = #{record.typeID,jdbcType=INTEGER},
      </if>
      <if test="record.typeValue != null" >
        TypeValue = #{record.typeValue,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        TypeName = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.enaled != null" >
        Enaled = #{record.enaled,jdbcType=TINYINT},
      </if>
      <if test="record.creator != null" >
        Creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.creatDate != null" >
        CreatDate = #{record.creatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        Modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyDate != null" >
        ModifyDate = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update baselisttype
    set TypeID = #{record.typeID,jdbcType=INTEGER},
      TypeValue = #{record.typeValue,jdbcType=VARCHAR},
      TypeName = #{record.typeName,jdbcType=VARCHAR},
      Enaled = #{record.enaled,jdbcType=TINYINT},
      Creator = #{record.creator,jdbcType=VARCHAR},
      CreatDate = #{record.creatDate,jdbcType=TIMESTAMP},
      Modifier = #{record.modifier,jdbcType=VARCHAR},
      ModifyDate = #{record.modifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sane.pkg.beans.BaseListType" >
    update baselisttype
    <set >
      <if test="typeValue != null" >
        TypeValue = #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TypeName = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="enaled != null" >
        Enaled = #{enaled,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        Creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatDate != null" >
        CreatDate = #{creatDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        Modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        ModifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TypeID = #{typeID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sane.pkg.beans.BaseListType" >
    update baselisttype
    set TypeValue = #{typeValue,jdbcType=VARCHAR},
      TypeName = #{typeName,jdbcType=VARCHAR},
      Enaled = #{enaled,jdbcType=TINYINT},
      Creator = #{creator,jdbcType=VARCHAR},
      CreatDate = #{creatDate,jdbcType=TIMESTAMP},
      Modifier = #{modifier,jdbcType=VARCHAR},
      ModifyDate = #{modifyDate,jdbcType=TIMESTAMP}
    where TypeID = #{typeID,jdbcType=INTEGER}
  </update>
</mapper>