<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sane.pkg.dao.mappers.CustomerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sane.pkg.beans.CustomerInfo" >
    <id column="CustomerId" property="customerId" jdbcType="INTEGER" />
    <result column="CustomerCode" property="customerCode" jdbcType="VARCHAR" />
    <result column="CustomerName" property="customerName" jdbcType="VARCHAR" />
    <result column="CustomerZipCode" property="customerZipCode" jdbcType="VARCHAR" />
    <result column="CustomerPhone" property="customerPhone" jdbcType="VARCHAR" />
    <result column="CustomerEmail" property="customerEmail" jdbcType="VARCHAR" />
    <result column="CustomerAddress" property="customerAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CustomerId, CustomerCode, CustomerName, CustomerZipCode, CustomerPhone, CustomerEmail, 
    CustomerAddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sane.pkg.beans.CustomerInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CustomerInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CustomerInfo
    where CustomerId = #{customerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CustomerInfo
    where CustomerId = #{customerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sane.pkg.beans.CustomerInfoCriteria" >
    delete from CustomerInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sane.pkg.beans.CustomerInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="customerId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into CustomerInfo (CustomerCode, CustomerName, CustomerZipCode, 
      CustomerPhone, CustomerEmail, CustomerAddress
      )
    values (#{customerCode,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{customerZipCode,jdbcType=VARCHAR}, 
      #{customerPhone,jdbcType=VARCHAR}, #{customerEmail,jdbcType=VARCHAR}, #{customerAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sane.pkg.beans.CustomerInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="customerId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into CustomerInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerCode != null" >
        CustomerCode,
      </if>
      <if test="customerName != null" >
        CustomerName,
      </if>
      <if test="customerZipCode != null" >
        CustomerZipCode,
      </if>
      <if test="customerPhone != null" >
        CustomerPhone,
      </if>
      <if test="customerEmail != null" >
        CustomerEmail,
      </if>
      <if test="customerAddress != null" >
        CustomerAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerZipCode != null" >
        #{customerZipCode,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null" >
        #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        #{customerAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sane.pkg.beans.CustomerInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from CustomerInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CustomerInfo
    <set >
      <if test="record.customerId != null" >
        CustomerId = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.customerCode != null" >
        CustomerCode = #{record.customerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        CustomerName = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerZipCode != null" >
        CustomerZipCode = #{record.customerZipCode,jdbcType=VARCHAR},
      </if>
      <if test="record.customerPhone != null" >
        CustomerPhone = #{record.customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.customerEmail != null" >
        CustomerEmail = #{record.customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAddress != null" >
        CustomerAddress = #{record.customerAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CustomerInfo
    set CustomerId = #{record.customerId,jdbcType=INTEGER},
      CustomerCode = #{record.customerCode,jdbcType=VARCHAR},
      CustomerName = #{record.customerName,jdbcType=VARCHAR},
      CustomerZipCode = #{record.customerZipCode,jdbcType=VARCHAR},
      CustomerPhone = #{record.customerPhone,jdbcType=VARCHAR},
      CustomerEmail = #{record.customerEmail,jdbcType=VARCHAR},
      CustomerAddress = #{record.customerAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sane.pkg.beans.CustomerInfo" >
    update CustomerInfo
    <set >
      <if test="customerCode != null" >
        CustomerCode = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        CustomerName = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerZipCode != null" >
        CustomerZipCode = #{customerZipCode,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        CustomerPhone = #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null" >
        CustomerEmail = #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        CustomerAddress = #{customerAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where CustomerId = #{customerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sane.pkg.beans.CustomerInfo" >
    update CustomerInfo
    set CustomerCode = #{customerCode,jdbcType=VARCHAR},
      CustomerName = #{customerName,jdbcType=VARCHAR},
      CustomerZipCode = #{customerZipCode,jdbcType=VARCHAR},
      CustomerPhone = #{customerPhone,jdbcType=VARCHAR},
      CustomerEmail = #{customerEmail,jdbcType=VARCHAR},
      CustomerAddress = #{customerAddress,jdbcType=VARCHAR}
    where CustomerId = #{customerId,jdbcType=INTEGER}
  </update>
</mapper>